doctype html
html(lang='ru')
  head
    title Ciklum
    meta(charset="utf-8")

    script(src='./script/script.js' defer)

    link(rel='stylesheet', type='text/css', href='./css/style.css')

    mixin navUl(...items)
      nav
        ul
          each item in items
            li
              a(href= '#'+ item)= item

    mixin navSelect(...items)
      nav
        select(onChange="window.location.href=this.value")
          each item in items
            option(value= '#'+ item)= item
   
  body
    header 
      div
        img(src='./img/logo.png', alt='Microsoft logo', width='108', height='23')
        nav
          a Магазин
          a Продукти
          a Підтримка
      div
        input(type='search', title='Пошук на веб-сайті Microsoft.com', value='Пошук на веб-сайті Microsoft.com')
        a  
          img(src='./img/cart.png', alt='Shopping cart')
        a Вхід
    main
      
      section.dropbox
        div
          h1 Безопасный доступ, синхронизация и совместная работа
          p Хранение и безопасный доступ к данным — аккаунты Dropbox Business пользуются доверием у системных администраторов и нравятся пользователям.
          a Попробуйте бесплатную 30-дневную ознакомительную версию
          p или 
            a(href='https://www.dropbox.com/business/buy') купите прямо сейчас
      
      section.invisionapp
        h2 Join over 2 million designers already using InVision. Get InVision 
        form.signup_form(method='POST', action='https://projects.invisionapp.com/d/signup/process', novalidate='novalidate')
          p 
            i.ico-user
            input#signup_name(type='text', name='name', autocomplete='off', onfocus="if (this.value=='Your Name') this.value = ''", value="Your Name")
          p  
            i.ico-email
            input#signup_email(type='text', name='email', autocomplete='off', onfocus="if (this.value=='Email Address') {this.value = ''; this.type = 'email'}", value="Email Address")
          p  
            i.ico-lock
            input#signup_password(type='text', name='password', autocomplete='off', onfocus="if (this.value=='Create a Password') {this.value = ''; this.type = 'password'}", value="Create a Password")
          button(type='submit') Get Started — Free Forever!
        p By clicking "Get Started — Free Forever!" I agree to InVision's 
          a(href="https://www.invisionapp.com/terms") Terms of Service.  


    
    
    