doctype html
html(lang='en')
  head
    title Ciklum
    meta(charset="utf-8")

    script(src='./script/script.js' defer)

    link(rel='stylesheet', type='text/css', href='./css/style.css')

    mixin navOculus(site,...items)
      nav
        ul
          each item in items
            li
              a(href= site + item)
                div(class= item)
                article
                   h3
                   h2
  body
    header 
      div
        img(src='./img/logo.png', alt='Microsoft logo', width='108', height='23')
        nav
          a Store
          a Products
          a(href='https://support.microsoft.com/en-gb') Support
      div
        input(type='search', title='Search Microsoft.com', value='Search Microsoft.com')
        a  
          img(src='./img/cart.png', alt='Shopping cart')
        a Sign in
    main
      
      section#dropbox
        div
          h1 Collaborate faster and more securely
          p Boost business productivity with the ultimate file saving and sharing tool that employees love and IT admins trust.
          a(href='https://www.dropbox.com/business/try') Try free for 30 days
          p or 
            a(href='https://www.dropbox.com/business/buy') purchase now
      
      section#invisionapp
        h2 Join over 2 million designers already using InVision. Get InVision 
        form.signup_form(method='POST', action='https://projects.invisionapp.com/d/signup/process', novalidate='novalidate')
          p 
            i.ico-user
            input#signup_name(type='text', name='name', autocomplete='off', onfocus="if (this.value=='Your Name') this.value = ''", value="Your Name")
          p  
            i.ico-email
            input#signup_email(type='text', name='email', autocomplete='off', onfocus="if (this.value=='Email Address') {this.value = ''; this.type = 'email'}", value="Email Address")
          p  
            i.ico-lock
            input#signup_password(type='text', name='password', autocomplete='off', onfocus="if (this.value=='Create a Password') {this.value = ''; this.type = 'password'}", value="Create a Password")
          button(type='submit') Get Started — Free Forever!
        p By clicking "Get Started — Free Forever!" I agree to InVision's 
          a(href="https://www.invisionapp.com/terms") Terms of Service.

      section#oculus
        nav
          ul
            li
              a(href='https://www3.oculus.com/rift/#eve-valkyrie')
                div.eve-valkyrie
                article
                   h3 FEATURED CONTENT
                   h2 EVE: Valkyrie
            li
              a(href='https://www3.oculus.com/rift/#luckys-tale')
                div.luckys-tale
                article
                   h3 INCLUDED WITH ALL RIFT PURCHASES
                   h2 Lucky's Tale
            li
              a(href='https://www.oculus.com/en-us/blog/announcing-oculus-connect-3-and-rift-availability-update/')
                div.games
                article
                   h3 FEATURED STORY
                   h2 Announcing Oculus Connect 3 and Rift Availability Update
      section
        p TEST

 


    
    
    