@font-face {
    font-family: 'Open sans';
    src: url('/fonts/OpenSans.ttf')}
@font-face {
 	font-family: 'Myriad';
    src: url('/fonts/myriad.ttf')}


body
{
	max-width: 1920px;
	min-width: 360px;
	margin: 0 auto;
}

header, main, footer
{
	margin: 0 5%;
	max-width: 1600px;
}

header
{
	display: flex;
	height: 48px;
}

header a:hover
{
	background-color: #f2f2f2;
}

header a
{
	all:unset;
	padding: 0 22.5px;
	
	font-size: 15px;
	line-height:48px;
	text-align: center;
} 

nav 
{
	display: flex;
	height: 100%;
}

header a img
{
	width: 17px;
	height: 17px;
	margin: -5px 0;
}

header input
{
	width: 230px;
}

header div
{
	display: flex; 
	width: 50%;
	align-items: center;
}

header div ~ div
{
	justify-content: flex-end;
}

@media screen and (max-width: 900px)
{
	header nav
	{
		display: none;
	}
	#oculus ul
	{
		flex-direction: column;
	}
}

