@font-face {
  font-family: 'Open sans';
  src: url('../fonts/OpenSans.ttf');
}
@font-face {
  font-family: 'Myriad';
  src: url('../fonts/myriad.ttf');
}
body {
  max-width: 1920px;
  min-width: 360px;
  margin: 0 auto;
}
header,
main,
footer {
  margin: 0 5%;
  max-width: 1600px;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
}
header div a:hover {
  background-color: #f2f2f2;
}
header div a {
  all: unset;
  padding: 0 22.5px;
  font-size: 15px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
header a img {
  width: 17px;
  height: 17px;
  margin: -5px 0;
}
header input {
  width: 230px;
}
header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}
header div ~ div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 900px) {
  header nav {
    display: none;
  }
  #oculus ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header input {
    width: 80px;
  }
}
/*Sections for javascript menu in header*/
.menuStoreFirst ul,
.menuSoftware ul,
.menuSoft ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}
.menuStoreFirst,
.menuSoftware,
.menuSoft {
  position: absolute;
  top: 48px;
  left: -200px;
  z-index: 10;
  background: #e5e5e5;
}
.menuStoreFirst li,
.menuSoftware li,
.menuSoft li {
  all: unset;
  width: 191px;
  padding: 17px 24px;
  font-size: 15px;
  line-height: 20px;
  color: #2F2F2F;
}
#backWrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}
