@font-face {
  font-family: 'Open sans';
  src: url('/fonts/OpenSans.ttf');
}
@font-face {
  font-family: 'Myriad';
  src: url('/fonts/myriad.ttf');
}
body {
  max-width: 1920px;
  min-width: 360px;
  margin: 0 auto;
}
header,
main,
footer {
  margin: 0 5%;
  max-width: 1600px;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
}
header a:hover {
  background-color: #f2f2f2;
}
header a {
  all: unset;
  padding: 0 22.5px;
  font-size: 15px;
  line-height: 48px;
  text-align: center;
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
header a img {
  width: 17px;
  height: 17px;
  margin: -5px 0;
}
header input {
  width: 230px;
}
header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header div ~ div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 900px) {
  header nav {
    display: none;
  }
  #oculus ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
