@font-face {
  font-family: 'Open sans';
  src: url('/fonts/OpenSans.ttf');
}
body {
  max-width: 1920px;
  min-width: 360px;
  margin: 0 auto;
}
header,
main {
  margin: 0 5%;
  max-width: 1600px;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
}
header a:hover {
  background-color: #f2f2f2;
}
header a {
  padding: 0 22.5px;
  font-size: 15px;
  line-height: 48px;
  text-align: center;
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
header a img {
  width: 17px;
  height: 17px;
  margin: -5px 0;
}
header input {
  width: 230px;
}
header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header div ~ div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 900px) {
  nav {
    display: none;
  }
}
/*///Dropbox for Business///*/
.dropbox {
  height: 700px;
  background: url("/img/background_dropbox.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #f6f6f6;
  /*Test with TEXT*/
}
.dropbox div {
  width: 40%;
  height: 700px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dropbox div > a {
  padding: 19px 25px;
  padding: 1.2rem 1.6rem;
  font-size: 21px;
  line-height: 21px;
  background: #0071e0;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
}
.dropbox div h1 {
  color: #47525d;
  font-size: 47.25px;
  font-weight: 100;
  line-height: 1.3;
  margin-bottom: 20px;
  font-family: 'Open sans';
}
/*///*/
.invisionapp input,
.invisionapp button {
  all: unset;
}
.invisionapp {
  text-align: center;
  font-family: 'Open sans';
  padding: 160px 0 145px 0;
  background-color: #323a45;
}
.invisionapp h2 {
  color: #ffffff;
  margin-bottom: 55px;
  font-size: 30px;
  line-height: 52px;
}
.invisionapp form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.invisionapp p {
  position: relative;
}
.invisionapp i {
  position: absolute;
  top: 18px;
  left: 15px;
  vertical-align: middle;
  height: 24px;
  width: 24px;
  background-image: url('/img/icons_inv.png');
  background-repeat: no-repeat;
}
.ico-user {
  background-position: 0 -474px;
}
.ico-email {
  background-position: 0 -386px;
}
.ico-lock {
  background-position: 0 -430px;
}
.invisionapp input,
.invisionapp button {
  width: 280px;
  height: 63px;
  border: 1px solid #d4d7da;
}
.invisionapp input {
  background: #ffffff;
  font-size: 18px;
  color: #8a959e;
  font-weight: 400;
  border-radius: 3px;
  margin-right: 10px;
}
.invisionapp button {
  background: #ff3366;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}
.invisionapp p,
.invisionapp a {
  font-size: 12px;
  color: #747c83;
  line-height: 21.6px;
}
.invisionapp a:hover {
  color: #ffffff;
}
/*form label
{
	position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    color: #8a959e;
    margin: 16px 0px 0px 16px;
    font-weight: 400;
}*/
/*@media screen and (min-width: 1201px)
{
	.dropbox
	{
		position: absolute;
    	left: 50%;
    	margin-left: -885px;
   		background-position: right center;
	}
}

@media screen and (min-width: 600px)
{
	.dropbox
	{
    	background-position: 370px center;
	}
}

@media screen and (min-width: 400px)
{
	.dropbox
	{
		background-position: 300px center;
    	background-size: cover;
	}
}*/
