#dropbox {
  min-height: 700px;
  background: url('../img/background_dropbox.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 40vw top;
  background-color: #f6f6f6;
  /*dont forget Test with resize TEXT*/
  color: #47525d;
  font-family: 'Open sans';
}
#dropbox div {
  width: 40%;
  height: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#dropbox div > a {
  text-decoration: none;
  padding: 1.2rem 1.6rem;
  font-size: 21px;
  line-height: 21px;
  background: #0071e0;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
}
#dropbox div h1 {
  font-size: 47.25px;
  font-weight: 100;
  line-height: 1.3;
  margin-bottom: 20px;
}
#dropbox p {
  color: #47525d;
  font-size: 21px;
  line-height: 31.5px;
}
#dropbox p a {
  color: #0071e0;
}
/*///invisionapp///*/
#invisionapp input,
#invisionapp button {
  all: unset;
}
#invisionapp {
  text-align: center;
  font-family: 'Open sans';
  padding: 160px 0 145px 0;
  background-color: #323a45;
}
#invisionapp h2 {
  color: #ffffff;
  margin-bottom: 55px;
  font-size: 30px;
  line-height: 52px;
}
#invisionapp form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#invisionapp p {
  position: relative;
}
#invisionapp i {
  position: absolute;
  top: 18px;
  left: 15px;
  vertical-align: middle;
  height: 24px;
  width: 24px;
  background-image: url('../img/icons_inv.png');
  background-repeat: no-repeat;
}
.ico-user {
  background-position: 0 -474px;
}
.ico-email {
  background-position: 0 -386px;
}
.ico-lock {
  background-position: 0 -430px;
}
#invisionapp input,
#invisionapp button {
  width: 280px;
  height: 63px;
  border: 1px solid #d4d7da;
}
#invisionapp input {
  background: #ffffff;
  font-size: 18px;
  color: #8a959e;
  font-weight: 400;
  border-radius: 3px;
  margin-right: 10px;
}
#invisionapp button {
  background: #ff3366;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}
#invisionapp p,
#invisionapp a {
  font-size: 12px;
  color: #747c83;
  line-height: 21.6px;
}
#invisionapp a:hover {
  color: #ffffff;
}
/*///oculus///*/
#oculus a,
#oculus li {
  all: unset;
  width: 100%;
}
#oculus ul {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  /*	position: relative;*/
}
#oculus li {
  position: relative;
  height: 300px;
  background: #1c1e20;
  overflow: hidden;
}
#oculus article {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}
#oculus div {
  height: 300px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .3;
  transition: transform .3s, opacity .3s;
}
#oculus a:hover > div {
  opacity: .8;
  transform: scale(1.1, 1.1);
}
.eve-valkyrie {
  background: url('../img/eve-valkyrie.jpg');
}
.luckys-tale {
  background: url('../img/luckys.jpg');
}
.games {
  background: url('../img/touch.jpg');
}
#oculus h2,
#oculus h3 {
  font-weight: 600;
}
#oculus h2 {
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
}
#oculus h3 {
  color: #a4a5a6;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 16px;
}
